body { /* background-image: url('../graphics/back3i.png'); */ background-color: #F4F2DC;      

font-family:  'Calisto MT', 'Garamond', 'Times New Roman', serif; 
color: #2a2a2a;  letter-spacing: 0.02em; }
header { padding: 16px; }
article { line-height: 1.85em; }
.white { background-color: white; color: #111111; }
/*.row { background-color: teal; }*/
.footer { margin-top: 2em !important; padding: 1em; 
	box-sizing: border-box; clear: both; display: block !important;
	float: none !important; }
p { margin-top: 1.15em; margin-bottom: 1.15em; }
hr { color: #C5BB49; height: 3px; border: 0px; background-color: #C5BB49; }

header h1 { margin: 0px; }
header a:link, header a:visited { color: black; text-decoration: none; }
header a:hover { color: #cc0000; text-decoration: underline; font-weight: bold; }
.contenthere { padding: 16px; }
.contenthere img { max-width: 95%; height: inherit; margin: 16px 0px; }

h1 {
	font-size: 2em;
}
	h1 a {
		text-decoration: none;
	}
h2 {
	font-size: 1.5em;
	color: #666;
	background-color: #ccc;
	text-align: center;
}
blockquote { border-left: 5px solid #C5BB49; background-color: #F4F2DC; padding: 9px; }
ul#boxes li {
	font-family: Georgia;
	font-size: 1.33em;
	padding: 2.5em 0;
	color: #999;
	background-color: #e5e5e5;
	text-align: center;
}

.subheader{
background-color: #92C549; color: white; padding: 3px;
}

.menonart { 
	background-color: #99ccff; min-width: 30px; 
	margin-right: 16px;  margin-bottom: 12px; padding: 8px; 
	display: inline-block; 
} 

/* ----- forms ----- */
select {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 color: black;
}

input, input[type='text'], input[type='password'], textarea {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 color: black;
}

button, button[type='submit']{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 3px ridge #666666;
 color: black;
}

/* ----- menu 2 ---- */
ul.horimenu { padding: 0px; margin: 0px; }
.horimenu li:first-of-type { margin-left: 0px; }
.horimenu li {
	padding: 8px;
	/*background-color: #99ccff;*/
	background-color: #D4CC77;
	min-width: 30px;
	margin-right: 16px;
	margin-left: 0px;
	/*margin: unset;*/
	display: inline-block;
	margin-bottom: 12px;
	/*margin: 0px;*/
}



.horimenu li:hover a{ color: #fff; }

.horimenu li:hover{
	background-color: #C5BB49;
	font-weight: bold;
	/*padding-left: 16px;*/
	color: #fff !important;
}
 

.horimenu a:link, .horimenu a:visited{
	color: #2a2a2a;
	text-decoration: none;
	width: 100%; height: 100%;
}

/* ----- menu ----- */

#navcontainer { min-width: 100px; }

#navcontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
margin: 0px;
margin-bottom: 1em;
}

#navcontainer li {  }

#navcontainer a
{
display: block;
padding: 16px;
background-color: #D4CC77;
border-bottom: 1px solid #eee;
}

#navcontainer a:link, #navlist a:visited
{
color: #2a2a2a;
text-decoration: none;
}

#navcontainer a:hover
{
background-color: #C5BB49;
font-weight: bold;
padding-left: 16px;
color: #fff;
}/*/*

/* toggle menu on mobile */
/* https://uglyduck.ca/menu-toggle-css/ */
/* https://stackoverflow.com/q/10782054/337306 */

/* Set the input position to absolute, send it off screen with zero opacity */
.hide, .menutoggle {
    /*left: -9999px; opacity: 0; position: absolute;*/
    display: none;
}

/* Minor visual styling to make the label more button-y */
label.menutoggle {
    border: 0px solid currentColor;
    background-color: #D4CC77;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px;
    margin: 1em 0px;
	font-size: 1.15em;
}

/* responsive design */
@media screen and (max-width: 700px) {
  .contenthere { font-size: 1.15em; }
  #navcontainer a { 
	/* margin-bottom: 0.85em; */
  	margin: 0.85em 0em; 
	margin-left: 1.85em;
  }

	#navcontainer {
  	  /*opacity: 0; position: absolute; z-index: -2;*/
    	display: none;
  	}

	input[type="checkbox"].hide:checked ~ #navcontainer, .menutoggle {
	    /*opacity: 1; z-index: 1;*/
	    display: block;
	}

}